#set($query = $context.arguments.query)

#set($assetTypeMapping = {
    "LOGO": "site-logo"
})

#set($targetType = $assetTypeMapping.get($query.type))

#set($payload = {
    "type": "get-resource-list",
    "limit": $util.defaultIfNull($query.limit, ${DEFAULT_PAGE_SIZE}),
    "target": $targetType,
    "bucketId": "${ASSETS_BUCKET_NAME}"
})

{
    "version": "2018-05-29",
    "operation": "Invoke",
    "payload": $util.toJson($payload)
}